.App {
  text-align: center;
}
.edge{
  border: 3px solid pink;
  background-color: black;
}
.map{
  border: 5px solid black;
  height: 100vh;
}
.node{
  width: 10px;
  background-color:purple;
  border: 5px solid black;
}